In [ ]:
import sys

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
books = pd.read_csv('/content/drive/MyDrive/archive2/books.csv')
book_tags = pd.read_csv('/content/drive/MyDrive/archive2/book_tags.csv')
tags = pd.read_csv('/content/drive/MyDrive/archive2/tags.csv')

In [ ]:
books.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [ ]:
books.shape

(10000, 23)

In [ ]:
books = books.drop_duplicates(subset='title')
books.duplicated(subset='title').sum()

0

In [ ]:
# sample_size = 15000
# books = books.sample(n=sample_size, replace=False, random_state=490)

# books = books.reset_index()
# books = books.drop('index',axis=1)

In [ ]:
# combine all strings:
books_1 = books.drop(['id','best_book_id','work_id','books_count','isbn', 'isbn13', 'original_publication_year', 'original_title', 
                    'language_code', 'average_rating', 'ratings_count', 'work_ratings_count', 'work_text_reviews_count', 
                    'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5'],axis=1)

books_1.head()

,book_id,authors,title,image_url,small_image_url
0,2767052,Suzanne Collins,"The Hunger Games (The Hunger Games, #1)",https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,3,"J.K. Rowling, Mary GrandPré",Harry Potter and the Sorcerer's Stone (Harry P...,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,41865,Stephenie Meyer,"Twilight (Twilight, #1)",https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,2657,Harper Lee,To Kill a Mockingbird,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,4671,F. Scott Fitzgerald,The Great Gatsby,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [ ]:
books_1.shape

(9964, 5)

In [ ]:
book_tags.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [ ]:
tags.head()

   tag_id tag_name
0       0        -
1       1     --1-
2       2    --10-
3       3    --12-
4       4   --122-

In [ ]:
import pandas as pd

# Gộp DataFrame bằng cột 'id'
merged_df = pd.merge(book_tags, tags, on='tag_id', how='inner')
merged_df.head()

   goodreads_book_id  tag_id   count tag_name
0                  1   30574  167697  to-read
1                  2   30574   24549  to-read
2                  3   30574  496107  to-read
3                  5   30574   11909  to-read
4                  6   30574     298  to-read

In [ ]:
sorted_df = merged_df.sort_values('goodreads_book_id', ascending=True)

print(sorted_df)

        goodreads_book_id  tag_id   count            tag_name
0                       1   30574  167697             to-read
258362                  1   33165     338               youth
250046                  1   17213     347              kindle
246919                  1   27535     348  shelfari-favorites
245888                  1   16799     351            juvenile
...                   ...     ...     ...                 ...
918363           33288638    2541       9              angsty
956326           33288638    1126       7        5-star-reads
358501           33288638   18680      11               loved
954279           33288638   29125      10       sweet-romance
999911           33288638   27939       7            slowburn

[999912 rows x 4 columns]

In [ ]:
tag2 = sorted_df.drop(['tag_id','count'],axis=1)
tag2 = tag2.reset_index()
tag2 = tag2.drop('index',axis=1)

In [ ]:
print(tag2)

        goodreads_book_id            tag_name
0                       1             to-read
1                       1               youth
2                       1              kindle
3                       1  shelfari-favorites
4                       1            juvenile
...                   ...                 ...
999907           33288638              angsty
999908           33288638        5-star-reads
999909           33288638               loved
999910           33288638       sweet-romance
999911           33288638            slowburn

[999912 rows x 2 columns]

In [ ]:
tag3 = tag2.groupby('goodreads_book_id').agg({'tag_name': ' '.join}).reset_index()

print(tag3)

      goodreads_book_id                                           tag_name
0                     1  to-read youth kindle shelfari-favorites juveni...
1                     2  wizards rowling fantasy-fiction childrens-book...
2                     3  my-favorites read-2016 childhood-favorites rer...
3                     5  fantasy magic contemporary favorites owned-boo...
4                     6  ya-fiction read-2016 5-star mystery re-reads d...
...                 ...                                                ...
9995           31538647  magic 2016-reading-challenge british own-kindl...
9996           31845516  favorites 2017-books spiritual 2017-reading-li...
9997           32075671  social-issues ownvoices read-2017 books-i-own ...
9998           32848471  2017-release funny-as-hell lol dirty-talk talk...
9999           33288638  4-5-stars single-mom sports 2016-read drama fa...

[10000 rows x 2 columns]

In [ ]:
df = pd.merge(books_1, tag3, left_on='book_id', right_on='goodreads_book_id', how='inner')

df.head()

,book_id,authors,title,image_url,small_image_url,goodreads_book_id,tag_name
0,2767052,Suzanne Collins,"The Hunger Games (The Hunger Games, #1)",https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,2767052,the-hunger-games library teen-fiction favorite...
1,3,"J.K. Rowling, Mary GrandPré",Harry Potter and the Sorcerer's Stone (Harry P...,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,3,my-favorites read-2016 childhood-favorites rer...
2,41865,Stephenie Meyer,"Twilight (Twilight, #1)",https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...,41865,currently-reading i-own owned-books abandoned ...
3,2657,Harper Lee,To Kill a Mockingbird,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...,2657,1001-books-to-read-before-you-die favorites 5-...
4,4671,F. Scott Fitzgerald,The Great Gatsby,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,4671,love wish-list 5-stars 20th-century classic cl...

In [ ]:
def clean_text(author):
  result = str(author).lower()
  result = result.replace(' ','')
  result = result.replace(',',' ')
  return(result)

In [ ]:
df['authors'] = df['authors'].apply(clean_text)

In [ ]:
df.head()

,book_id,authors,title,image_url,small_image_url,goodreads_book_id,tag_name
0,2767052,suzannecollins,"The Hunger Games (The Hunger Games, #1)",https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,2767052,the-hunger-games library teen-fiction favorite...
1,3,j.k.rowling marygrandpré,Harry Potter and the Sorcerer's Stone (Harry P...,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,3,my-favorites read-2016 childhood-favorites rer...
2,41865,stepheniemeyer,"Twilight (Twilight, #1)",https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...,41865,currently-reading i-own owned-books abandoned ...
3,2657,harperlee,To Kill a Mockingbird,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...,2657,1001-books-to-read-before-you-die favorites 5-...
4,4671,f.scottfitzgerald,The Great Gatsby,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,4671,love wish-list 5-stars 20th-century classic cl...

In [ ]:
df['data'] = df['authors'] + ' ' + df['tag_name']

In [ ]:
df = pd.DataFrame(data=df[['book_id', 'title', 'data', 'image_url', 'small_image_url']])
df.head()

,book_id,title,data,image_url,small_image_url
0,2767052,"The Hunger Games (The Hunger Games, #1)",suzannecollins the-hunger-games library teen-f...,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,3,Harry Potter and the Sorcerer's Stone (Harry P...,j.k.rowling marygrandpré my-favorites read-201...,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,41865,"Twilight (Twilight, #1)",stepheniemeyer currently-reading i-own owned-b...,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,2657,To Kill a Mockingbird,harperlee 1001-books-to-read-before-you-die fa...,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,4671,The Great Gatsby,f.scottfitzgerald love wish-list 5-stars 20th-...,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [ ]:
df_3 = pd.DataFrame(data=df[['book_id', 'title', 'image_url', 'small_image_url']])
df.head()

,book_id,title,data,image_url,small_image_url
0,2767052,"The Hunger Games (The Hunger Games, #1)",suzannecollins the-hunger-games library teen-f...,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,3,Harry Potter and the Sorcerer's Stone (Harry P...,j.k.rowling marygrandpré my-favorites read-201...,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,41865,"Twilight (Twilight, #1)",stepheniemeyer currently-reading i-own owned-b...,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,2657,To Kill a Mockingbird,harperlee 1001-books-to-read-before-you-die fa...,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,4671,The Great Gatsby,f.scottfitzgerald love wish-list 5-stars 20th-...,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [ ]:
df_3.shape

(9964, 4)

In [ ]:
# df_2.to_csv('df_2.csv')

In [ ]:
df.shape

(9964, 5)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
vectorized = vectorizer.fit_transform(df['data'])

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

similarities = cosine_similarity(vectorized)

In [ ]:
print(similarities)

[[1.         0.78770099 0.78479058 ... 0.54528596 0.59347335 0.22495437]
 [0.78770099 1.         0.75109927 ... 0.51134135 0.58954041 0.24063067]
 [0.78479058 0.75109927 1.         ... 0.4347013  0.42894947 0.19621527]
 ...
 [0.54528596 0.51134135 0.4347013  ... 1.         0.45694333 0.35005324]
 [0.59347335 0.58954041 0.42894947 ... 0.45694333 1.         0.33344536]
 [0.22495437 0.24063067 0.19621527 ... 0.35005324 0.33344536 1.        ]]

In [ ]:
df_1 = pd.DataFrame(similarities, columns=books['title'], index=df['title']).reset_index()

In [ ]:
df_1['book_id'] = df.book_id

In [ ]:
df_1.head()

title,title,"The Hunger Games (The Hunger Games, #1)","Harry Potter and the Sorcerer's Stone (Harry Potter, #1)","Twilight (Twilight, #1)",To Kill a Mockingbird,The Great Gatsby,The Fault in Our Stars,The Hobbit,The Catcher in the Rye,"Angels & Demons (Robert Langdon, #1)",...,"The Red Knight (The Traitor Son Cycle, #1)",The Time Traveller's Guide to Medieval England: A Handbook for Visitors to the Fourteenth Century,"The Everafter War (The Sisters Grimm, #7)","Billy Budd, Sailor","Bayou Moon (The Edge, #2)","Means of Ascent (The Years of Lyndon Johnson, #2)",The Mauritius Command,Cinderella Ate My Daughter: Dispatches from the Frontlines of the New Girlie-Girl Culture,The First World War,book_id
0,"The Hunger Games (The Hunger Games, #1)",1.000000,0.787701,0.784791,0.640694,0.660271,0.793701,0.772114,0.653983,0.537803,...,0.618236,0.508437,0.598142,0.495864,0.667949,0.334047,0.545286,0.593473,0.224954,2767052
1,Harry Potter and the Sorcerer's Stone (Harry P...,0.787701,1.000000,0.751099,0.704221,0.715209,0.769366,0.860014,0.703062,0.481628,...,0.654872,0.519436,0.727891,0.522901,0.685127,0.364244,0.511341,0.589540,0.240631,3
2,"Twilight (Twilight, #1)",0.784791,0.751099,1.000000,0.543257,0.551796,0.670271,0.734866,0.547167,0.463978,...,0.601876,0.391635,0.621135,0.423204,0.643281,0.302213,0.434701,0.428949,0.196215,41865
3,To Kill a Mockingbird,0.640694,0.704221,0.543257,1.000000,0.950403,0.727460,0.714289,0.954897,0.525820,...,0.533457,0.595294,0.532029,0.845314,0.490963,0.432832,0.580001,0.641995,0.327016,2657
4,The Great Gatsby,0.660271,0.715209,0.551796,0.950403,1.000000,0.752852,0.724616,0.969272,0.464119,...,0.557724,0.603227,0.505281,0.839996,0.532621,0.409682,0.558014,0.694289,0.299686,4671

In [ ]:
# df_1.to_csv('df_1.csv')

In [ ]:
df_2 = pd.DataFrame(similarities, columns=books['book_id'], index=df['book_id']).reset_index()

tìm kiếm theo tên sách

In [ ]:
def recommendation(title):
  recommendations = pd.DataFrame(df_1.nlargest(11,title)['title'])
  recommendations = recommendations[recommendations['title']!=title]
  # list1 = recommendations['title'].values.tolist()
  print(recommendations)

In [ ]:
title = "Harry Potter and the Sorcerer's Stone (Harry Potter, #1)"
recommendation(title)

                                                  title
22    Harry Potter and the Chamber of Secrets (Harry...
17    Harry Potter and the Prisoner of Azkaban (Harr...
23    Harry Potter and the Goblet of Fire (Harry Pot...
26    Harry Potter and the Half-Blood Prince (Harry ...
24    Harry Potter and the Deathly Hallows (Harry Po...
398                        The Tales of Beedle the Bard
1285                         Quidditch Through the Ages
468             Fantastic Beasts and Where to Find Them
816     Howl's Moving Castle (Howl's Moving Castle, #1)
3176  Gregor and the Curse of the Warmbloods (Underl...

In [ ]:
df_2.head()

book_id,book_id,2767052,3,41865,2657,4671,11870085,5907,5107,960,...,101094,13616278,4936457,4769651,15613,7130616,208324,77431,8565083,8914
0,2767052,1.000000,0.787701,0.784791,0.640694,0.660271,0.793701,0.772114,0.653983,0.537803,...,0.439917,0.618236,0.508437,0.598142,0.495864,0.667949,0.334047,0.545286,0.593473,0.224954
1,3,0.787701,1.000000,0.751099,0.704221,0.715209,0.769366,0.860014,0.703062,0.481628,...,0.422905,0.654872,0.519436,0.727891,0.522901,0.685127,0.364244,0.511341,0.589540,0.240631
2,41865,0.784791,0.751099,1.000000,0.543257,0.551796,0.670271,0.734866,0.547167,0.463978,...,0.372414,0.601876,0.391635,0.621135,0.423204,0.643281,0.302213,0.434701,0.428949,0.196215
3,2657,0.640694,0.704221,0.543257,1.000000,0.950403,0.727460,0.714289,0.954897,0.525820,...,0.531205,0.533457,0.595294,0.532029,0.845314,0.490963,0.432832,0.580001,0.641995,0.327016
4,4671,0.660271,0.715209,0.551796,0.950403,1.000000,0.752852,0.724616,0.969272,0.464119,...,0.500615,0.557724,0.603227,0.505281,0.839996,0.532621,0.409682,0.558014,0.694289,0.299686

In [ ]:
# df.to_csv('books.csv')

In [ ]:
# pickle.dump(df_1, open("df_1.pkl", "wb"))

In [ ]:
from random import randint
number = randint(0, len(df_3))
a = df_3.iloc[number]
print(a.title)

This Is What Happy Looks Like (This is What Happy Looks Like, #1)